.place__title {
    margin: 0 40px 48px 0;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    max-width: 460px;
    width: 460px;
}

@media screen and (max-width: 1279px) {
    .place__title {
        max-width: fit-content;
        min-width: calc(440px + (100% - 440px - 456px - 32px)/2);
        margin: 0 32px 48px 0;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        min-width: calc(340px + (100% - 352px - 340px - 28px)/2);
        margin: 0 28px 48px 0;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        margin: 0 0 32px 16px;
        max-width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}
