.photo-grid {
    box-sizing: border-box;
    padding: 0 48px 92px 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 16px;
        padding: 0 24px 88px 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-gap: 12px;
        padding: 0 16px 64px 16px;
    }
}

