.footer__links {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__links>li:not(:last-of-type) {
    margin: 0 18px 0 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        align-items: start;
        flex-direction: column;
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 48px 0;
    }

    .footer__links>li:not(:last-of-type) {
        margin: 0 0 32px 0;
    }
}



