.cover {
    position: relative;
    box-sizing: border-box;
    padding: 0 48px 0 48px;
    width: 100%;
    min-height: calc((1280px - 96px)  * 0.625);
}

@media screen and (max-width: 1279px) {
    .cover {
        padding: 0;
        min-height: calc((100vw) * 0.625);
    }
}