.cover__overlay {
    position: absolute;
    z-index: 1;
    width: calc(100% - 96px);
    padding-bottom: calc((100% - 96px)*0.625);
}

.cover__overlay:hover div:last-of-type {
    color: #fff;
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        width: 100%;
        padding-bottom:  calc(100% * 0.625);
    }
}
